:root {
  --primary-text-color: #000000;
  --accent-color: #ff6b08;
  --extra-accent-color: #ff001b;
  --primary-bg-color: #fff;
  --footer-bg-color: #f7f7f7;
  --secondary-text-color: #8c8c8c;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
