<header>
  <form id="form">
    <input type="text" placecholder="search" id="search" class="search" />
  </form>
</header>
<div id="tags">
  <div class="tag">Action</div>
  <div class="tag">Adventure</div>
  <div class="tag">Animation</div>
  <div class="tag">Comedy</div>
  <div class="tag">Drama</div>
</div>
<main id="main">
  <div class="pagination">
    <div class="page" id="prev">Back</div>
    <div class="current" id="current">1</div>
    <div class="current" id="current">2</div>
    <div class="current" id="current">3</div>
    <div class="current" id="current">4</div>
    <div class="current" id="current">5</div>
    <div class="current" id="current">6</div>
    <div class="page" id="next">Next page</div>
  </div>
</main>
