<header class="overlay-home">
  <div class="container header-container">
    <nav class="navigation">
      <a class="logo link" href="./index.html">
        <div class="animation-running-tape">
          <div class="animation-wrapper">
            <img src="./images/logo-for-animation.svg" alt="logo" />
          </div>
        </div>
        <span class="logo-text">Filmoteka</span></a
      >
      <ul class="nav-list list">
        <li class="nav-list-item current-page">
          <a class="link nav-list-link" href="./index.html">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="link nav-list-link" href="./library.html">My library</a>
        </li>
      </ul>
    </nav>
    <form class="form">
      <input
        class="form-input"
        name="searchQuery"
        type="text"
        placeholder="Movie search"
      />
      <button class="form-button" type="submit">
        <img
          src="./images/search-icon.svg"
          alt="search icon"
          width="12"
          height="12"
        />
      </button>
    </form>
  </div>
</header>
