// COMMON

.button {
  font: inherit;
  border-radius: 5px;
  padding: 14px;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  background-color: transparent;
  outline: 1px solid var(--primary-bg-color);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &.button-active {
    outline: none;
    background-color: var(--accent-color);
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  }
}

.load-button {
  color: #fff;
  background-color: #f8ac1f;
  outline: 1px solid var(--accent-color);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  transition: background-color 0.25s linear;
  display: block;
  box-shadow: 1px 1px 8px 3px rgb(255 127 27 / 88%);
}

// .button-active {
//   outline: none;
//   background-color: var(--accent-color);
//   filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
// }

// PHONES
@media screen and (min-width: 320px) {
  .button {
    min-width: 130px;
  }
}

// TABLETS and DESKTOPS
@media screen and (min-width: 768px) {
  .button {
    min-width: 150px;
  }
}