footer {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
}

.footer__link {
  text-align: center;
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  &:hover .heart__svg,
  &:focus .heart__svg {
    animation: beat .35s infinite alternate;
    transform-origin: center;
  }
}

.heart__svg {
  width: 14px;
  height: 12.75px;
  fill: #ff6b08;
  margin-right: 8px;
  margin-left: 8px;
}

.footer__text-first {
  display: block;
  margin-bottom: 10px;
}

footer button {
  background-color: transparent;
  color: #545454;
  text-decoration: underline;
}

// media screen 768px
@media screen and (min-width: 768px) {

  footer {
    margin-top: 60px;
  }

  .footer__link {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.17;
    align-items: center;
  }

  .footer__text-first {
    margin-bottom: 0;
  }
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.4);
  }
}