//COMMON
.header-container {
    padding-top: 40px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
}

.nav-list-item {
    color: var(--primary-bg-color);
    text-transform: uppercase;
    line-height: 1.17;

    &+.nav-list-item {
        margin-left: 40px;
    }
}

.current::after {
    content: "";
    display: block;
    height: 3px;
    background-color: var(--extra-accent-color);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current:hover::after {
    transform: scaleX(0.8);
}

.form {
    display: flex;
}

.form-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-bg-color);
    padding: 0 0 4px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-bg-color);
    outline: none;

    &::placeholder {
        color: var(--primary-bg-color);
    }
}

.form-button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-bg-color);
    padding-left: 4px;
}

//PHONES 
@media screen and (max-width: 767.99px) {
    .header-container {
        padding-bottom: 91px;
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.25),
                rgba(0, 0, 0, 0.25)), 
                url(../images/320px/header-bg-img-home.jpg);
    }

    .navigation {
        margin-bottom: 54px;
    }

    .logo-text {
        display: none;
    }
}

//TABLETS
@media screen and (min-width: 768px) {
    .header-container {
            padding-bottom: 80px;
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.25),
                    rgba(0, 0, 0, 0.25)),
                url(../images/768px/header-bg-img-home.jpg);
    }

    .navigation {
        margin-bottom: 40px;
    }

    .logo {
        display: flex;
    }

    .logo-text {
        display: inline-block;
        margin-left: 8px;
        font-size: 30px;
        line-height: 1.17;
        color: var(--primary-bg-color);
    }

    .form {
        width: 336px;
        margin-right: auto;
        margin-left: auto;
    }
}

//DESKTOPS
@media screen and (min-width: 1280px) {
    .header-container {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.25),
                    rgba(0, 0, 0, 0.25)),
                url(../images/1280px/header-bg-img-home.jpg);
    }

    .form {
        width: 394px;
    }
}