//COMMON
.overlay-home, .overlay-library {
  background-size: cover;
  background-position: bottom;
}

.header-container, .header-library {
  padding-top: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  & + .nav-list-item {
    margin-left: 40px;
  }
}

.nav-list-link {
  text-transform: uppercase;
  line-height: 1.17;
  color: var(--primary-bg-color);
  cursor: pointer;
}

.current-page::after {
  content: '';
  display: block;
  height: 3px;
  background-color: var(--extra-accent-color);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page:hover::after, 
.current-page:focus::after {
  transform: scaleX(0.8);
}

.form {
  display: flex;
}

.form-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid var(--primary-bg-color);
  padding: 0 0 4px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-bg-color);
  outline: none;

  &::placeholder {
    color: var(--primary-bg-color);
  }
}

.form-button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-bg-color);
  padding-left: 4px;
}

.btn-list {
  display: flex;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--primary-bg-color);
  caret-color: white;
}

//PHONES
@media screen and (max-width: 767.99px) {
  .overlay-home {
    background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.35),
          rgba(0, 0, 0, 0.35)),
        url(../images/320px/header-bg-img-home.jpg);
    
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)),
          url(../images/320px/header-bg-img-home@2x.jpg);
      }
  }

  .header-container {
    padding-bottom: 91px;
  }

  .overlay-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/320px/header-bg-img-library.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay-library {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/320px/header-bg-img-library@2x.jpg');
    }
  }

  .header-library {
    padding-bottom: 62px;
  }

  .navigation {
    margin-bottom: 54px;
  }

  .navigation.navigation__library {
    margin-bottom: 60px;
  }

  .logo-text {
    display: none;
  }

  .btn-list {
    justify-content: space-between;
  }
}

//TABLETS
@media screen and (min-width: 768px) {
  .overlay-home {
    background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.35),
          rgba(0, 0, 0, 0.35)),
        url(../images/768px/header-bg-img-home.jpg);
    
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)),
          url(../images/768px/header-bg-img-home@2x.jpg);
      }
  }

  .header-container {
    padding-bottom: 80px;
  }

  .overlay-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/768px/header-bg-img-library.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay-library {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/768px/header-bg-img-library@2x.jpg');
    }
  }

  .header-library {
    padding-bottom: 57px;
  }

  .navigation {
    margin-bottom: 40px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-text {
    display: inline-block;
    margin-left: 8px;
    font-size: 30px;
    line-height: 1.17;
    color: var(--primary-bg-color);
  }

  .form {
    width: 336px;
    margin-right: auto;
    margin-left: auto;
  }
}

.btn-list {
  justify-content: center;
}

.btn-list__item:not(:last-child) {
  margin-right: 32px;
}

//DESKTOPS
@media screen and (min-width: 1280px) {
  .overlay-home {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
      ),
      url(../images/1280px/header-bg-img-home.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.35),
          rgba(0, 0, 0, 0.35)
        ),
        url(../images/1280px/header-bg-img-home@2x.jpg);
    }
  }

  .overlay-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/1280px/header-bg-img-library.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay-library {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/1280px/header-bg-img-library@2x.jpg');
    }
  }

  .form {
    width: 394px;
  }
}

.logo:hover .animation-wrapper,
.logo:focus .animation-wrapper {
  animation: running-tape 2s linear infinite
}

.animation-running-tape {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  overflow: hidden;
}

.animation-running-tape img {
  display: block;
  width: 22px;
}

@keyframes running-tape {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-65%);
  }
}