//COMMON
.movie {
  border-radius: 5px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
  filter 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  overflow: hidden;
  background-color: #4a4a4a;

  &:hover,
  &:focus {
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 14px rgba(255, 0, 27, 0.8));
  }
}

body.light .movie {
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%),
  0 1px 1px rgb(0 0 0 / 14%),
  0 2px 1px -1px rgb(0 0 0 / 12%);

  &:hover,
  &:focus {
    filter: none;
  }
}

.movie img {
  height: 100%;
  width: 100%;
  
}

.wrapper-img{
  pointer-events: none;
}

.movie-info {
  padding-left: 5px;
  padding-bottom: 4px;
  pointer-events: none;
}

.title__info {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: #fff;

  body.light & {
    color: #000;
  }
}
.overview {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.info__genres-and-year {
  color: var(--accent-color);
}

.vote_average {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  margin-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  color: #eee;
  background-color: #ff6b08;
  width: 40px;
  height: 20px;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
}
//PHONES
@media screen and (max-width: 767.98px) {
  .movies-gallery {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .movie:not(:last-child) {
    margin-bottom: 20px;
  }

  .movie-info {
    margin-top: 10px;
    
  }
}

//TABLETS
@media screen and (min-width: 768px) {
  .movies-gallery {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .wrapper-img{
    height: 455px;
    pointer-events: none;
  }

  .movie-info {
    margin-top: 8px;
    pointer-events: none;
  }
}

//DESKTOP
@media screen and (min-width: 1280px) {
  .movies-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px 16px;
  }

  .wrapper-img {
    height: 574px;
    pointer-events: none;
  }

  .movie-info {
    margin-top: 12px;
    pointer-events: none;
  }

  .title__info,
  .info__genres-and-year {
    font-size: 20px;
    line-height: 1.2;
  }
}