//COMMON
.movie {
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%),
    0 1px 1px rgb(0 0 0 / 14%),
    0 2px 1px -1px rgb(0 0 0 / 12%);
  border-radius: 5px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  overflow: hidden;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.movie img {
  height: 100%;
  width: 100%;
}

.movie-info {
  padding-left: 5px;
  padding-bottom: 4px;
}

.title__info {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}
.overview {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info__genres-and-year {
  color: var(--accent-color);
}
.vote_average {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  display: inline-block;
  margin-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 40px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  color: #eee;
  background-color: #ff6b08;
}

//PHONES
@media screen and (max-width: 767.98px) {
  .movies-gallery {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .movie:not(:last-child) {
    margin-bottom: 20px;
  }

  .movie-info {
    margin-top: 10px;
  }
}

//TABLETS
@media screen and (min-width: 768px) {
  .movies-gallery {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .wrapper-img{
    height: 455px;
  }

  .movie-info {
    margin-top: 8px;
  }
}

//DESKTOP
@media screen and (min-width: 1280px) {
  .movies-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px 16px;
  }

  .wrapper-img {
    height: 574px;
  }

  .movie-info {
    margin-top: 12px;
  }

  .title__info,
  .info__genres-and-year {
    font-size: 20px;
    line-height: 1.2;
  }
}