main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  width: 495px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}
.movie:hover,
.movie:focus {
  transform: scale(1.03);
  
}
.movie img {
  border-radius: 5px;
  margin-bottom: 10px;
  }
.title__info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  color: #000000;
  text-transform: uppercase;
}
.info__genres-and-year {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  color: #ff6b08;
}
.overview__info {
    visibility: hidden;
  }
